/*General*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #f0f0f0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}


/*NavBar*/

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 4px #ffffff30;
}
  
#navbar li{
  float: left;
}
  
#nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#nav-link:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/*Welcome*/

#welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(180deg, #3a3d40 0%, #1d1d1d 100%);
}


#welcome-subtitle{
  font-size: 2em;
  font-style: italic;
  color: #04AA6D;
}

#welcome-title {
  width: 15ch;
  animation: typing 2.3s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #05bd05;
  font-family: monospace;
  font-size: 5em;
}
  
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*Projects*/

#projects{
  text-align: center;
  padding: 10rem 2rem;
  background: #1d1d1d;
}
  
#projects-section-title {
  font-size: 2.1em;
  max-width: 540px;
  margin: 0 auto 2em auto;
  border-bottom: 0.2rem solid #fff;
}
  

  
#projects-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  border: 2px solid #04AA6D;
}
  
.project-art:hover .code {
  color: #ff7f50;
}
    
.project-img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
    
.project-title {
  font-size: 20px;
  padding: 1em 0.5rem;
}
  
.project-text{
  width: 100%;
  height: 100%
}
    
.project-art{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: calc(100% / 4);
  overflow: hidden;
  min-width: 300px;
  margin: 30px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}

.code {
  color: #303841;
  transition: color 0.3s ease-out;
}
  

/*Client*/

#client{
  padding-top: 6em;
  background: #1d1d1d;
}

.client-cards
{
	display: flex;
	justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.client-cards .client-cards-card
{
	display: flex;
	margin: 30px;
	height: 200px;
	background: #4d0686;
	width: calc(100% / 3);
	overflow: hidden;
	min-width: 300px; 
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 #ffffff95;
}

.client-cards .client-cards-card img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

.client-cards .client-cards-card > .client-cards-card-text{
	width: 60%;
	color: #fff;
}

.client-cards .client-cards-card > .client-cards-card-text p{
	font-weight: 300;
	padding-top: 5px;
}



/* Contact section */

#contact{
  height: 100vh;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: linear-gradient(0deg, #3a3d40 0%, #1d1d1d 100%);
}

.contact-section-header > h2 {
  font-size: 4em;
}


.contact-section-header > p {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 10px;

}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1.6em;
  text-shadow: 2px 2px 1px #1f1f1f;
  margin-right: 1em; 
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}




/*Footer*/

footer
{
	background: #414141;
	padding: 60px 0px 30px 0px;
	margin: auto;
	overflow: hidden;
}

.footer-container
{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #04aa6d;
}


.footer-container-content
{
	text-align: center;
}


.footer-container-content h4 
{
	color:  #fff;
	border-bottom: 3px solid #04aa6d;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.footer-container-content p 
{
	color:  #ccc;
}

.titulo-final
{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9797;
}

/*Responsive Design*/

@media screen and (max-width: 500px){

  /*general*/
  *{
    font-size: 12px;
  }

  #navbar ul{
    width: 100vw
  }

  /*Welcome*/
  #welcome-title {
    font-size: 3.3em;
  }

  /*Client*/

  .client-cards .client-cards-card{
    height: 250px;
    flex-direction: column;
    text-align: center;
  }

  .client-cards .client-cards-card > .client-cards-card-text{
    width: 90%;
  }

  /*Projects*/

  #projects-flex{
    margin: -10px;
  }

  #projects-section-title {
    font-size: 2;
    text-align: center;
  }

  /*Contacts*/


  .contact-section-header > h2 {
    font-size: 2.6em;
  }


  .contact-links {
    flex-direction: column;
  }

  .contact-details {
    font-size: 1.8em;
    margin-bottom: 0.8em; 
  }

  .contact-details i{
    scale: 2;
    padding: 0 1em 0.6em 0;  
  }


  /*Footer*/

  .footer-container{
    flex-direction: column;
    border: none;
  }

  .footer-container-content{
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-container-content h4{
    border: none;
  }

  .footer-container-content p{
    color: #ccc;
    border-bottom: 1px solid #04aa6d;
    padding-bottom: 20px;
  }


  .titulo-final{
    font-size: 20px;
  }


}
